.data-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  .data-list-item {
    list-style-type: none;
  }
  strong:nth-child(4n+1) {
    padding-right: 16px;
    &, &+span {
      background: #CCC;
    }
  }
}

ul li {
  list-style-type: none;
}

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &.expanded {
    .data-charts {
      width: 600px; 
    }
  }

  .data-charts {
    width: 0;
    transition: width 200ms ease-in-out;
  }
}


